


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-bottom:1px solid black
}

.logo{
    font-size: 200%;
    font-weight: bold;
    color:white;
    background: red;
    padding:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logout a{
    font-size: 150%;
    font-weight: bold;
    color:white;
    background: red;
    padding:5px;
    text-decoration: none;
}